.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.text-shadow {
	text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

#megatron{
	background-image: url('../images/re-cloud/bg_jumbotron.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#tema{
	background-image: url('../images/re-cloud/bg_theme.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mb-100{
	margin-bottom: 100px;
}

.circle-winner {
	height: 65px;
	width: 65px;
	border-radius: 50%;
	display: inline-block;
}

.heading-small {
	font-size: 20px;
}

.title-nominal {
	font-size: 4em !important;
}

.bg-dark-primary {
	background-color: #E5640C;
}

.bg-registration {
	background-color: #707070;
}

.bg-light-grey {
	background-color: #F8F5F5;
}

.bg-rewards {
	background-color: #FFE7D4;
}

.text-codepolitan{
	color: #008F80 !important;
}

.bg-codepolitan{
	background-color: #008F80 !important;
}

.bg-light-orange{
	background-color: #f19e6c !important;
}

h1, h1 span{
	font-family: 'Righteous', cursive;
}

p, span, li, a, h3, h4, h5, h6 {
	font-family: 'Abel', sans-serif;
}

.jssocials {
	position: fixed;
	top: 30%;
	left: 0;
	z-index: 999;
}

.jssocials .jssocials-shares {
	display: flex;
	flex-direction: column;
}

.jssocials .jssocials-shares > div {
	margin: 0;
}

@media (max-width: 767.98px) {
	.jssocials {
		top: initial;
		bottom: 0;
		width: 100%;
	}

	.jssocials .jssocials-shares {
		display: flex;
		flex-direction: row;
	}

	.jssocials .jssocials-shares > div {
		flex-grow: 1;
	}

	.jssocials .jssocials-shares > div > a{
		width: 100%;
	}
}