.btn-orange {
  background-color: #ff6a00 !important;
  border: 1px solid #ff6a00 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 3px 5px 0 rgba(255, 106, 0, 1);
  box-shadow: 0 3px 5px 0 rgba(255, 106, 0, 1);
}

